.branchStyle {
	font-weight:normal;
}

.treeMapLeaf
{
	/* tells the leaf renderer to size its label to fill as much space
	as it can. it should try to avoid creating line breaks in the middle
	of words */
	fontSizeMode: fitToBoundsWithoutBreaks;

	/* sets the minimum font size value used by the fontSizeMode
	specified above */
	fontSize: 4;
}
.linky {
	color:blue;
	text-decoration:underline;
	padding-left:20;
	text-align:right;
}

.emissionsToolTip {
	background-color:white;
	background-alpha:.9;
	drop-shadow-enabled:true;
	corner-radius:4;
	border-color:silver;
	border-style:solid;
	padding-top:20;
	padding-bottom:20;
	padding-left:20;
	padding-right:20;
	color:black;
}
.emissionsTooltipTitle {
	font-size:12;
	font-weight:bold;
}