<!--- Initialize local variables --->
<cfset local = structNew()>	

<!--- Create the service --->	
<cfset local.accountService = request.beanFactory.getBean("energyAccountService")>

<!--- Get the energy account --->
<cfset local.obj = createObject('component', 'mce.e2.vo.EnergyAccount')>
<cfset local.obj.energy_account_uid = 'D747ADD1-2769-4F56-BA5D-001DF2EFC64B'>	


<cfdump var="#local.obj#">
<cfset local.obj = local.accountService.getEnergyAccount(local.obj)>

<cfdump var="#local.obj#">