
﻿<!--- Initialize local variables --->
<cfset local = structNew()>

<!--- Instantiate the component --->
<cfset local.epService = request.beanFactory.getBean("energyProviderService")>

<cfset local.scrmService = request.beanFactory.getBean("subclassesRateModelsMapService")>


<cfset local.sublcasses = createObject("component", "mce.e2.vo.SubclassesRateModelsMap")>
<cfset local.obj = createObject('component', 'mce.e2.vo.EnergyProvider')>
<cfset local.obj.energy_provider_uid = 'C10FEBB9-42B5-4334-96CB-4024C2C472B9'>	
<cfset local.obj = local.epService.getEnergyProvider(local.obj)>
<cfset local.sublcasses = local.scrmService.getAvailableSubclassesRateModelsMaps(local.obj, '1')>

﻿<!--- Initialize local variables --->
<cfset local = structNew()>

<!--- Instantiate the component --->
<cfset local.epService = request.beanFactory.getBean("energyProviderService")>

<cfset local.scrmService = request.beanFactory.getBean("subclassesRateModelsMapService")>


<cfset local.sublcasses = createObject("component", "mce.e2.vo.SubclassesRateModelsMap")>
<cfset local.obj = createObject('component', 'mce.e2.vo.EnergyProvider')>
<cfset local.obj.energy_provider_uid = 'C10FEBB9-42B5-4334-96CB-4024C2C472B9'>	
<cfset local.obj = local.epService.getEnergyProvider(local.obj)>
<cfset local.sublcasses = local.scrmService.getAvailableSubclassesRateModelsMaps(local.obj, '1')>

<cfdump var="#local.sublcasses#">	